a {
    cursor: pointer;
}
header {
    background-color: #00002e;
    text-align: center;
    padding: 25px 6px;

}
header h1 {
    color: #fff;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    margin:0;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
}

.content-wrapper {
    background: #E4DBCC;
    padding: 50px 5px;
}

hr {
    border-color: lightgrey;
    margin: 10px;
}
.fa-mars {
    color: darkblue;
}
.fa-venus {
    color: deeppink;
}
#intro .box {
    padding: 20px;
    margin-left: 20px;
    text-align: justify;
}
#intro p {
    margin-bottom: 45px;
}

.login-box, .register-box {
    margin-top: 0;
}
.radio label {
    margin: 0 15px;
}
#login a {
    cursor: pointer;
}
#login-buttons {
    margin-top: 80px;
}

.navbar-header {
    background-color:#3C8DBC;
    padding:10px;
    text-align: center;
}
.user-header img {
    border:4px solid #45616c;
}
.user-header p {
    color:#fff;
    margin-top:5px;
}
.navbar-collapse {
    text-align: center;
    font-size: larger;
}
.navbar-collapse li {
    position:relative;
}
.navbar-collapse a {
    color:grey;
}
.navbar-collapse span {
    position:absolute;
    top: 5px;
    right:5px;
}


/*.container {
    padding: 0;
}*/
.content {
    padding:0;
}
#settings img {
    border: 2px solid grey;
    padding:0;
}
#settings .form-group {
    padding: 5px 0;
}
#settings .buttons {
    padding: 5px;
}
#settings .buttons button {
    margin-top: 5px;
}





/* HOVER CSS */
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fff;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}