<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPORTS CENTER</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/AdminLTE.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--icheck-->
    <link href="lib/bootstrap/plugins/iCheck/all.css" rel="stylesheet">
    <!--select2-->
    <link href="lib/bootstrap/plugins/select2/select2.min.css" rel="stylesheet">
    <!-- sweetalert -->
    <link href="lib/sweetalert-master/dist/sweetalert.css" rel="stylesheet" >

    <!-- My CSS -->
    <link href="css/estilo.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app" class="layout-top-nav">

<div ng-controller="indexCtrl" class="wrapper">
    <header>
        <h1>SPORTS CENTER</h1>
    </header>

    <div class="content-wrapper">
        <div class="row">
            <div ng-show="!register" id="login" class="col-xs-12 col-sm-6 pull-right">
                <div class="login-box">
                    <div class="login-box-body">
                        <h2>Iniciar sesión</h2>

                        <form name="login" ng-submit="loginUser()">
                            <div class="form-group has-feedback">
                                <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Email" required>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Contraseña" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <span ng-show="wrongLogin" class="col-xs-12 help-block text-red">{{wrongLogin}}</span>
                            <a ng-click="remember()" id="login-remember" class="pull-right">¿Has olvidado tu contraseña?</a>
                            <div id="login-buttons">
                                <button type="submit" class="btn btn-block btn-primary">Entra</button>
                                <hr>
                                <a ng-click="toggleRegister()" class="btn btn-block btn-warning">Regístrate</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div ng-show="register" id="register" class="col-xs-12 col-sm-6 pull-right">
                <div class="register-box">
                    <div class="register-box-body">
                        <h2>Crear una cuenta en SPORTS CENTER</h2>

                        <form name="registration" ng-submit="sendRegistration()">
                            <div class="form-group has-feedback">
                                <label>Nombre de usuario*</label>
                                <input type="text" ng-model="newUser.name" name="name" class="form-control" required>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                <span ng-show="wrongName" class="text-red">{{wrongName}}</span>
                                <span ng-show="repeatedName" class="text-red">El nombre de usuario ya ha sido registrado</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Contraseña*</label>
                                <input type="password" ng-model="newUser.password" class="form-control" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                <span ng-show="wrongPassword" class="text-red">{{wrongPassword}}</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Repetir contraseña*</label>
                                <input type="password" ng-model="repeat" class="form-control" required>
                                <span ng-class="newUser.password!==repeat?'glyphicon-remove':'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
                                <span ng-show="wrongRepeat" class="text-red">{{wrongRepeat}}</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Email*</label>
                                <input type="email" ng-model="newUser.email" class="form-control" required>
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                (El email debe estar activo, ya que se enviará un correo para confirmar el registro)<br>
                                <span ng-show="wrongEmail" class="text-red">{{wrongEmail}}</span>
                            </div>
                            <div class="checkbox">
                                <!--<label>
                                    <input type="checkbox" ng-model="newUser.notifications">
                                    Recibir notificaciones en email
                                </label>-->

                                <label>
                                    <input type="checkbox" ng-model="newUser.notifications" name="notifications" class="icheckbox_flat-blue">
                                    &nbsp;Recibir notificaciones en email
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Sexo*</label>
                                <!--<div class="radio">
                                    <label>
                                        <input type="radio" ng-model="newUser.gender" name="gender" value="Male">
                                        <i class="fa fa-mars fa-2x " data-toggle="tooltip" data-placement="right" title="Hombre" style="color:darkblue;"></i>
                                    </label>

                                    <label>
                                        <input type="radio" ng-model="newUser.gender" name="gender" value="Female">
                                        <i class="fa fa-venus fa-2x" data-toggle="tooltip" data-placement="right" title="Mujer" style="color:deeppink;"></i>
                                    </label>
                                </div>-->
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="newUser.gender" name="gender" value="Male" class="iradio_square-blue">
                                        &nbsp;<i class="fa fa-mars fa-2x " data-toggle="tooltip" data-placement="right" title="Hombre"></i>
                                    </label>
                                    <label>
                                        <input type="radio" ng-model="newUser.gender" name="gender" value="Female" class="iradio_square-blue">
                                        &nbsp;<i class="fa fa-venus fa-2x" data-toggle="tooltip" data-placement="right" title="Mujer"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Fecha de nacimiento*</label>
                                <input type="text" ng-model="newUser.birth" id="birth" name="birth" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
                                <span class="fa fa-calendar form-control-feedback"></span>
                                <span ng-show="wrongBirth" class="text-red">{{wrongBirth}}</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Provincia</label>
                                <select ng-model="newUser.province" id="province" class="form-control select2 select2-hidden-accessible"
                                        style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <option ng-repeat="province in provinces">{{province.province}}</option>
                                </select>
                            </div>
                            <div class="form-group has-feedback" ng-show="newUser.province">
                                <label>Localidad</label>
                                <select ng-model="newUser.town" id="town" class="form-control select2 select2-hidden-accessible"
                                        style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <option ng-repeat="town in towns">{{town.townName}}</option>
                                </select>
                            </div>

                            <p class="pull-right">* campos obligatorios</p>
                            <button type="submit" class="btn btn-primary btn-block">Hecho</button>

                        </form>

                        <br>
                        <button ng-click="toggleRegister()" class="btn btn-default btn-block">Volver</button>
                    </div>
                </div>
            </div>


            <div id="intro" class="col-xs-12 col-sm-6">
                <div class="box box-primary">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ultrices magna. Sed malesuada sodales nisl, a sollicitudin elit condimentum vitae. Nunc et ex orci. Nunc et ligula purus. Nullam convallis et nulla at luctus. Ut est dui, hendrerit ut consequat et, varius ut quam. Vestibulum ac vestibulum urna. Fusce molestie augue sit amet nunc gravida varius. Vivamus fringilla, nisi ullamcorper fringilla rhoncus, eros mauris eleifend velit, sit amet placerat enim elit eget velit. Suspendisse imperdiet mattis nisl, sed laoreet odio vehicula quis. Sed condimentum tempor varius.</p>

                    <h2>Lorem Ipsum</h2>
                    <p>Suspendisse potenti. Cras et ex dolor. Donec a sagittis ligula. Morbi tempus cursus ligula quis pretium. Sed in augue egestas, porta sapien ut, congue nisl. Duis placerat ultrices eros ut convallis. Cras lacinia quis metus vitae auctor. Aliquam venenatis sem vel metus vulputate pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse ullamcorper leo in metus varius aliquet. Integer vel lacinia justo. Vestibulum accumsan viverra urna pharetra accumsan. Aliquam erat volutpat. In porttitor lorem lectus, efficitur tempor lectus efficitur nec.</p>

                    <h2>Lorem Ipsum</h2>
                    <p>Vivamus ac leo ac ex rutrum aliquet egestas sit amet massa. Maecenas lobortis feugiat risus, ut posuere sem elementum commodo. Aliquam tristique mattis viverra. Aliquam condimentum nisl vitae diam pulvinar aliquam. Aliquam erat volutpat. Aenean in est massa. Nulla dapibus lorem dictum justo consectetur commodo. Praesent orci orci, ultrices nec turpis et, dignissim ultricies tortor.</p>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- jQuery 2.1.4 -->
<script src="lib/bootstrap/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="lib/bootstrap/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="lib/bootstrap/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="lib/bootstrap/dist/js/app.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="lib/bootstrap/plugins/iCheck/icheck.min.js"></script>
<!--select2-->
<script src="lib/bootstrap/plugins/select2/select2.min.js"></script>
<!-- InputMask -->
<script src="lib/bootstrap/plugins/input-mask/jquery.inputmask.js"></script>
<script src="lib/bootstrap/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="lib/bootstrap/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- sweetalert -->
<script src="lib/sweetalert-master/dist/sweetalert.min.js"></script>

<!-- AngularJS -->
<script src="lib/angularjs/angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.js"></script>-->
<script src="indexCtrl.js"></script>
<script src="js/functions.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        /* iCheck */
        /*$('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_square-blue'
        });*/

        /* select2 */
        $("#province").select2({
            placeholder: "Selecciona una provincia",
            allowClear: true
        });
        $("#town").select2({
            placeholder: "Selecciona una localidad",
            allowClear: true
        });

        /* Datemask dd/mm/yyyy */
        $("#birth").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/aaaa"});
    });
</script>


</body>
</html>