<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPORTS CENTER</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/AdminLTE.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--icheck-->
    <link href="../lib/bootstrap/plugins/iCheck/all.css" rel="stylesheet">
    <!--uiSelect-->
    <link href="../lib/ui-select-master/select.min.css" rel="stylesheet">
    <!--select2-->
    <!--<link href="../lib/bootstrap/plugins/select2/select2.min.css" rel="stylesheet">-->

    <!-- My CSS -->
    <link href="../css/estilo.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app" class="layout-top-nav skin-black">

<div ng-controller="appCtrl" class="wrapper">
    <header>
        <h1>SPORTS CENTER</h1>
        <a class="col-xs-6 col-xs-offset-6 col-md-2 col-md-offset-10 hvr-underline-from-center" ng-click="logout()">Cerrar sesión <i class="fa fa-sign-out"></i></a>
    </header>


    <div class="content-wrapper">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="user-header">
                        <img ng-if="user.photo!= null" ng-src="{{user.photo}}" class="img-rounded hidden-xs" width="128" height="128">
                        <img ng-if="user.photo== null" ng-src="../images/profile/default.png" class="img-rounded hidden-xs" width="128" height="128">
                        <p>
                            {{user.name}}
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                            </button>
                        </p>

                    </div>

                    <!--<span class="navbar-brand">{{user.name}}</span>-->

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="box box-primary nav navbar-nav">
                        <li class="col-md-2">
                            <a href="#/"><i class="fa fa-home fa-2x hidden-xs"></i>Inicio</a>
                        </li>
                        <li class="col-md-2">
                            <a href="#/eventos"><i class="fa fa-calendar fa-2x hidden-xs"></i>Eventos</a>
                        </li>
                        <li class="col-md-2">
                            <a href="#/mensajes"><i class="fa fa-comments-o fa-2x hidden-xs"></i>Mensajes <span class="label label-warning">4</span></a>
                        </li>
                        <li class="col-md-2">
                            <a href="#/amigos"><i class="fa fa-group fa-2x hidden-xs"></i>Amigos <span class="label label-warning">1</span></a>
                        </li>
                        <li class="col-md-2">
                            <a href="#/configuracion"><i class="fa fa-gear fa-2x hidden-xs"></i>Configuración</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <section class="content" ui-view>

            </section>
        </div>
    </div>

</div>


<!-- jQuery 2.1.4 -->
<script src="../lib/bootstrap/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../lib/bootstrap/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../lib/bootstrap/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="../lib/bootstrap/dist/js/app.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="../lib/bootstrap/plugins/iCheck/icheck.min.js"></script>
<!--select2-->
<!--<script src="../lib/bootstrap/plugins/select2/select2.min.js"></script>-->
<!-- ng-file-upload -->
<!--<script src="../lib/ng-file-upload-bower-12.0.4/ng-file-upload-shim.min.js"></script>--><!-- for no html5 browsers support -->
<!--<script src="../lib/ng-file-upload-bower-12.0.4/ng-file-upload.min.js"></script>-->

<!-- AngularJS -->
<script src="../lib/angularjs/angular.min.js"></script>
<script src="../lib/angularjs/angular-ui-router.min.js"></script>
<script src="../lib/angularjs/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script src="../lib/angularjs/angular-sanitize.min.js"></script>
<script src="appCtrl.js"></script>
<script src="dashboard/dashboardCtrl.js"></script>
<script src="events/eventsCtrl.js"></script>
<script src="friends/friendsCtrl.js"></script>
<script src="messages/messagesCtrl.js"></script>
<script src="settings/settingsCtrl.js"></script>
<script src="../js/functions.js"></script>

<!-- uiSelect -->
<script src="../lib/ui-select-master/select.min.js"></script>


<!--<script type="text/javascript">
    $(document).ready(function() {
        /* select2 */
        $(".select2").select2({
            allowClear: true
        });

    });
</script>-->

</body>
</html>