<div id="settings">
    <div class="col-md-3">

        <button class="btn btn-warning btn-block" ng-click="mode= 'personal'">
            Mis datos personales
            <i class="fa fa-angle-double-right pull-right"></i>
        </button>
        <button class="btn btn-warning btn-block" ng-click="mode= 'password'">
            Cambiar contraseña
            <i class="fa fa-angle-double-right pull-right"></i>
        </button>
        <button class="btn btn-warning btn-block" ng-click="mode= 'preferences'">
            Mis preferencias
            <i class="fa fa-angle-double-right pull-right"></i>
        </button>

    </div>

    <div class="col-md-9">
        <div class="box box-warning">
            <div class="box-header">
                <div class="box-title">
                    <h3 ng-if="mode=='personal'">Mis datos personales</h3>
                    <h3 ng-if="mode=='password'">Cambiar contraseña</h3>
                    <h3 ng-if="mode=='preferences'">Mis preferencias</h3>
                </div>
            </div>
            <div class="box-body">
                <!-- Mis datos personales -->
                <form ng-if="mode=='personal'" ng-submit="changePersonal()">
                    <div ng-if="personal.personalOk" class="col-sm-9 alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Se han guardado las modificaciones</h4>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                        <!--<div class="form-group row">
                            <img ng-if="personal.photo!= null" class="col-md-5" ng-src="{{personal.photo}}">
                            <img ng-if="personal.photo== null" class="col-md-5" ng-src="../images/profile/default.png">
                            <div class="col-md-7 buttons">
                                <input type="file" ngf-select ng-model="personal.newPhoto" name="file" ngf-accept="'image/*'">
                                <button type="button" class="btn btn-default btn-flat btn-block">
                                    <i class="fa fa-remove"></i>&nbsp;Eliminar foto de perfil
                                </button>
                            </div>
                        </div>-->
                        <div class="form-group row">
                            <label class="col-xs-3 control-label">Nombre de usuario</label>
                            <div class="col-xs-6">{{personal.name}}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-3 control-label">Email</label>
                            <div class="col-xs-6">{{personal.email}}</div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="personal.notifications" name="notifications" class="icheckbox_flat-blue">
                                &nbsp;Recibir notificaciones en email
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-3 control-label">Sexo</label>
                            <div class="col-xs-6">
                                <i class="fa fa-2x" ng-class="{'fa-mars': personal.gender== 'Male', 'fa-venus': personal.gender== 'Female'}"></i>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-3 control-label">Fecha de nacimiento</label>
                            <div class="col-xs-6">{{personal.birth}}</div>
                        </div>
                    </div>

                    <button type="submit" class="btn bg-olive col-xs-6 col-md-3 col-xs-offset-6 col-md-offset-6">Guardar</button>
                </form>

                <!-- Cambiar contraseña -->
                <form ng-if="mode=='password'" ng-submit="changePassword()">
                    <div ng-if="password.passwordOk" class="col-sm-9 alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> La contraseña ha sido modificada</h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Contraseña actual</label>
                        <div class="col-sm-6">
                            <input type="password" ng-model="password.oldPassword" class="form-control" required>
                            <span ng-show="wrongOldPassword" class="text-red">{{wrongOldPassword}}</span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Nueva contraseña</label>
                        <div class="col-sm-6">
                            <input type="password" ng-model="password.newPassword" class="form-control" required>
                            <span ng-show="wrongNewPassword" class="text-red">{{wrongNewPassword}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Repetir nueva contraseña</label>
                        <div class="col-sm-6">
                            <input type="password" ng-model="password.repeat" class="form-control" required>
                            <span ng-show="wrongRepeat" class="text-red">{{wrongRepeat}}</span>
                        </div>
                    </div>


                    <button type="submit" class="btn bg-olive col-xs-6 col-md-3 col-xs-offset-6 col-md-offset-6">Guardar</button>
                </form>

                <!-- Mis preferencias -->
                <form ng-if="mode=='preferences'">
                    preferences.province -> {{preferences.province}}<br>
                    preferences.town -> {{preferences.town}}<br>
                    preferences.sports -> {{preferences.sports}}

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Provincia</label>
                        <div class="col-xs-10 col-sm-5">
                            <ui-select allow-clear ng-model="preferences.province" theme="bootstrap">
                                <ui-select-match placeholder="Selecciona tu provincia">{{$select.selected.province}}</ui-select-match>
                                <ui-select-choices repeat="province.province as province in provinces | filter: $select.search">
                                    <span ng-bind-html="province.province | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-xs-1">
                            <span><button type="button" ng-click="preferences.province = null" class="btn btn-default">
                                <span class="fa fa-times"></span>
                            </button></span>

                        </div>
                    </div>

                    <div class="form-group row" ng-show="preferences.province">
                        <label class="col-sm-3 control-label">Localidad</label>
                        <div class="col-xs-10 col-sm-5">
                            <ui-select allow-clear ng-model="preferences.town" theme="bootstrap">
                                <ui-select-match placeholder="Selecciona tu localidad">{{$select.selected.townName}}</ui-select-match>
                                <ui-select-choices repeat="town.townName as town in towns | filter: $select.search">
                                    <span ng-bind-html="town.townName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-xs-1">
                            <span><button type="button" ng-click="preferences.town = null" class="btn btn-default">
                                <span class="fa fa-times"></span>
                            </button></span>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Deportes favoritos</label>
                        <div class="col-sm-6">
                            <ui-select multiple ng-model="preferences.sports" theme="bootstrap" close-on-select="false">
                                <ui-select-match placeholder="Elige tus deportes favoritos">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="sport.sport as sport in sports | filter:$select.search">
                                    {{sport.sport}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="label label-default" ng-repeat="sport in preferences.sports">{{sport.sport}}</span>
                        </div>
                    </div>


                    <button type="submit" class="btn bg-olive col-xs-6 col-md-3 col-xs-offset-6 col-md-offset-6">Guardar</button>
                </form>

            </div>
        </div>
    </div>
</div>