<h1>{{nombre}}</h1>
<h2>Mis eventos</h2>
<div class="box box-warning box-solid">
    <div class="box-header with-border">
        <h3 class="box-title col-xs-12">
            <div class="col-md-6">
                Título de la actividad
            </div>
            <div class="col-md-5">
                25/05/2016
            </div>
            <div class="col-md-1">
                <i class="fa fa-plus"></i>
            </div>
        </h3>

    </div>
    <div class="box-body">
        <div class="col-xs-2">
            <img class="img-rounded" width="64" height="64" style="background-color:lightgrey;">
        </div>
        <div class="col-xs-8">
            <ul>
                <li>lksjdflksdjff</li>
                <li>slñajdglsdkgj</li>
                <li>sdgsdgsdg</li>
            </ul>
        </div>
    </div>
</div>